@font-face {
  font-family: 'Coolvetica-Regular';
  src: url('/src/fonts/Coolvetica-Regular.ttf');
  src: url('/src/fonts/Coolvetica-Regular.eot');
  src: url('/src/fonts/Coolvetica-Regular.woff');
  src: url('/src/fonts/Coolvetica-Regular.otf');
}

@font-face {
  font-family: 'COPRGTB';
  src: url('/src/fonts/COPRGTB.ttf');
  src: url('/src/fonts/COPRGTB.eot');
  src: url('/src/fonts/COPRGTB.woff');
  src: url('/src/fonts/COPRGTB.otf');

}

@font-face {
  font-family: 'COPRGTL';
  src: url('/src/fonts/COPRGTL.ttf');
  src: url('/src/fonts/COPRGTL.eot');
  src: url('/src/fonts/COPRGTL.woff');
  src: url('/src/fonts/COPRGTL.otf');
}

@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url('/src/fonts/SFUIDisplay-Light.ttf');
  src: url('/src/fonts/SFUIDisplay-Light.eot');
  src: url('/src/fonts/SFUIDisplay-Light.woff');
  src: url('/src/fonts/SFUIDisplay-Light.otf');
}

@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url('/src/fonts/SFUIDisplay-Regular.ttf');
  src: url('/src/fonts/SFUIDisplay-Regular.eot');
  src: url('/src/fonts/SFUIDisplay-Regular.woff');
  src: url('/src/fonts/SFUIDisplay-Regular.otf');
}

@font-face {
  font-family: 'carbon-block-regular';
  src: url('/src/fonts/carbon-block-regular.ttf');
  src: url('/src/fonts/carbon-block-regular.eot');
  src: url('/src/fonts/carbon-block-regular.woff');
  src: url('/src/fonts/carbon-block-regular.otf');
}

@font-face {
  font-family: 'DevanagariSangamMN';
  // src: url('/src/fonts/DevanagariSangamMN.ttf');
  src: url('/src/fonts/DevanagariSangamMN.eot');
  src: url('/src/fonts/DevanagariSangamMN.woff');
  src: url('/src/fonts/DevanagariSangamMN.otf');
}

@font-face {
  font-family: 'ChaparralPro_Display';
  src: url('/src/fonts/ChaparralPro_Display.ttf');
  src: url('/src/fonts/ChaparralPro_Display.eot');
  src: url('/src/fonts/ChaparralPro_Display.woff');
  src: url('/src/fonts/ChaparralPro_Display.otf');
}

@font-face {
  font-family: 'ChaparralPro_Light';
  src: url('/src/fonts/ChaparralPro_Light.ttf');
  src: url('/src/fonts/ChaparralPro_Light.eot');
  src: url('/src/fonts/ChaparralPro_Light.woff');
  src: url('/src/fonts/ChaparralPro_Light.otf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/src/fonts/Roboto-Bold.ttf');
  src: url('/src/fonts/Roboto-Bold.eot');
  src: url('/src/fonts/Roboto-Bold.woff');
  src: url('/src/fonts/Roboto-Bold.otf');
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('/src/fonts/Roboto-Light.ttf');
  src: url('/src/fonts/Roboto-Light.eot');
  src: url('/src/fonts/Roboto-Light.woff');
  src: url('/src/fonts/Roboto-Light.otf');
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('/src/fonts/Roboto-Medium.ttf');
  src: url('/src/fonts/Roboto-Medium.eot');
  src: url('/src/fonts/Roboto-Medium.woff');
  src: url('/src/fonts/Roboto-Medium.otf');
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('/src/fonts/Roboto-Regular.ttf');
  src: url('/src/fonts/Roboto-Regular.eot');
  src: url('/src/fonts/Roboto-Regular.woff');
  src: url('/src/fonts/Roboto-Regular.otf');
}

@font-face {
  font-family: 'PTSans-Bold';
  src: url("/src/fonts/PTSans-Bold.ttf");
}

@font-face {
  font-family: 'PTSans-Regular';
  src: url("/src/fonts/PTSanc-Regular.ttf");
}

